{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">&nbsp;</div>
  <div class="col-md-4" style="margin-top: 250px;">
    <div class="panel panel-default lead">
      <div class="panel-heading">I can do the following</div>
      <div class="panel-body">
        <ul>
          <li><a href="/tasks/translate">Translate your speech</a></li>
          <li><a href="/tasks/monitor">Monitor your surroundings</a></li>
          <li><a href="/tasks/search">Get information from the internet</a></li>
          <li><a href="/tasks/insights">Analyze data and get insights</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
{% endblock %}
