{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">&nbsp;</div>
  <div class="col-md-4" style="margin-top: 200px;">
    <div class="panel panel-default lead">
      <div class="panel-heading">What I understood</div>
      <div class="panel-body" id="translated-text">...</div>
    </div>
    <div class="panel panel-default lead">
      <div class="panel-heading">French</div>
      <div class="panel-body" id="translated-to-french">...</div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/jarvis/js/translator.js"></script>
{% endblock %}
